* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    background: linear-gradient(45deg, #190361 0%, #5d0598 100%);
    font-size: 1.6rem;
    display: grid;
    place-items: center;
    height: 100vh;
    }

body,
button,
input {
      font-family: 'DM Sans', sans-serif;
    }


    main {
    background: #ffffff;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.8);
    border-radius: .5rem;
    padding: 4.8rem 6.4rem 6.4rem;
    width: min(42.8rem, 90%);
    margin-top: -12rem;
    text-align: center;
    
}

#fortuneCookie {
  content: '';
  width: 300px;
  height: 200px;
  background-image: url(./assets/fortuneCookie.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 20px 30px 0px 0px;
  
}


#crackedCookie {
  content: '';
  width: 300px;
  height: 200px;
  background-image: url(./assets/openedCookie.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}



button {
    background-color: #7879F1;
    color: white;
    font-weight: bold;
    border-radius: .4rem .4rem .4rem .4rem;
    cursor: pointer;
    transition: background .3s;
  }

button:hover {
    background-color: #5858b6;
}

.hide {
    display: none;
}



h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.4rem;
    margin-bottom: 1.6rem;
  }
  
  h1,
  p {
    color: #34355b;
  }
  
  p {
    opacity: 0.8;
  }
  
  form {
    margin-top: 4.8rem;
    display: flex;
    justify-content: center;
  }

  input, button {
    border: 0;
    padding: 1.6rem;
  }

  input {
    background-color: #DCE2E9;
    width: 8rem;
    border-radius: .4rem 0 0 .4rem;
  }

#fortuneCookie:hover {
  cursor: pointer;
}
  

  /* SCREEEN 2 */

#fortuneArea {
  height: 100px;
}


.screen2 h2 {
    font-size: 2.4rem;
    font-family: 'Dancing Script', cursive;
    font-weight: normal;
    background-color: #e4edf1;
    box-shadow: 0 .2rem .4rem rgba(0,0,0,0.1);
   animation-name: toFadeIn;
    animation-duration: 2s;
    position: relative;
    text-align: center;  
    padding: 10px; 
    box-shadow: 2px 2px 2px rgba(85, 85, 85, 0.5);
    
}


@keyframes toFadeIn {
    0% {
      transform:
      translateY(60px)
      scale(0.1);

    }

    100% {
      transform:
      translateY(0px)
      scale(1);
    }

}

@keyframes shaker {
  
}